body {
  background-color: rgb(37, 36, 36);
}

* {
  margin: 0;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent {
  background-color: aliceblue;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper {
  background-color: aquamarine;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  height: 90vh;
  /* padding-bottom: 60vh; */
  width: 70vw;
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}

.dropdown-wrapper {
  background-color: aqua;
  padding-top: 50px;
  height: 15vh;
  width: 100%;
}

.dropBtn {
  /* margin-top: 50px; */
  margin: auto;
  width: 90%;
  background-color: #f1356d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.fadeInBox {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 1s ease forwards;
}

.fadeOutBox {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.card-down {
  height: 0px;
  animation: grow 1s ease forwards;
  /* width: 1000px; */
}

@keyframes grow {
  from {
    height: 0vh;
    /* width: 100%; */
  }
  to {
    height: 55vh;
    /* width: 1000px; */
  }
}

.card-up {
  height: 600px;
  animation: shrink 1s ease forwards;
}

@keyframes shrink {
  0% {
    height: 55vh;

    /* width: 1000px; */
  }

  100% {
    height: 0vh;
    /* width: 100%; */
  }
}

.arrows {
  background: none;
  transition: 0.8s;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  cursor: pointer;
  margin: 20px;
}

.card-content-wrapper {
  background-color: rgb(117, 243, 67);
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow: auto;
  padding: 5px;
}

.App {
  display: flex;
  /* justify-content: space-between; */
  padding: 5%;
  flex-wrap: wrap;
}

.current-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 50%;
  /* background-color: antiquewhite; */
}
.current-info-wrapper p {
  padding-left: 20px;
  padding-top: 10px;
}

.forcast-card {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28%;
  min-width: 150px;
  height: 45%;
  /* background-color: rgb(253, 229, 227); */
  border: 1px solid black;
}

.forcast-card div {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}

@media only screen and (max-width: 636px) {
  .card-content-wrapper {
    justify-content: center;
  }
}

.card-content-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  /* border-radius: 10px; */
}

.card-content-wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.card-content-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
