* {
  margin: 0;
}

.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-down {
  height: 0px;
  animation: grow 1s ease forwards;
}

@keyframes grow {
  from {
    height: 0px;
  }
  to {
    height: 400px;
  }
}

.card-up {
  height: 400px;
  animation: shrink 1s ease forwards;
}

@keyframes shrink {
  from {
    height: 400px;
  }
  to {
    height: 0px;
  }
}

.dropBtn {
  width: 350px;

  background-color: #f1356d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  box-sizing: border-box;
}

.arrows {
  background: none;
  transition: 0.8s;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  cursor: pointer;
  margin: 20px;
}

.card-content-wrapper {
  background-color: rgb(117, 243, 67);
  width: 80%;
}

.App {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  flex-wrap: wrap;
}
