body {
  background-color: rgb(37, 36, 36);
}

* {
  margin: 0;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent {
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper {
  background-color: aquamarine;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  height: 90vh;
  /* padding-bottom: 60vh; */
  width: 70vw;
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}

.dropdown-wrapper {
  background-color: aqua;
  padding-top: 50px;
  height: 15vh;
  width: 100%;
}

.dropBtn {
  /* margin-top: 50px; */
  margin: auto;
  width: 90%;
  background-color: #f1356d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.fadeInBox {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.card-down {
  height: 0px;
  animation: grow 1s ease forwards;
  /* width: 1000px; */
}

@keyframes grow {
  from {
    height: 0px;
    /* width: 100%; */
  }
  to {
    height: 600px;
    /* width: 1000px; */
  }
}

.card-up {
  height: 600px;
  animation: shrink 1s ease forwards;
}

@keyframes shrink {
  from {
    height: 400px;
    /* width: 1000px; */
  }
  to {
    height: 0px;
    /* width: 100%; */
  }
}

.arrows {
  background: none;
  transition: 0.8s;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  cursor: pointer;
  margin: 20px;
}

.card-content-wrapper {
  background-color: rgb(117, 243, 67);
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.App {
  display: flex;
  /* justify-content: space-between; */
  padding: 5%;
  flex-wrap: wrap;
}

.current-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  /* background-color: antiquewhite; */
}

.forcast-card {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28%;
  min-width: 150px;
  height: 40%;
  /* background-color: rgb(253, 229, 227); */
  border: 1px solid black;
}

.forcast-card div {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}
